<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Antd React Template</title>

<meta name="application-name" content="mdg-web" />
<meta name="keywords" content="Antd React Template" />
<meta name="description" content="R0ger's Tech Blog, it's the true life.">
<link rel="shortcut icon" type="image/png" href="/favicon.png" />
<link rel="stylesheet" href="/css/main.css"/>

<meta name="HandheldFriendly" content="true">
</head>
<body>
  <div id="app">{{ html|safe }}</div>
  <script src="/js/vendor.js"></script>
  <script src="/js/vendor.bundle.js"></script>
  <script src="/js/bundle.js"></script>
</body>
</html>